<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="vb2_robot_description_ros2_control" params="name initial_positions_file">
    <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

    <ros2_control name="${name}_left_arm" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <!-- <plugin>yaobu_control/YaoBuSystemHardware</plugin>
        <param name="state_topic">/jaka_left_arm_cmd</param>
        <param name="p_control_topic">jaka_left_arm_state</param> -->
      </hardware>
      <joint name="l_j1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['l_j1']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="l_j2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['l_j2']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="l_j3">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['l_j3']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="l_j4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['l_j4']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="l_j5">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['l_j5']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="l_j6">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['l_j6']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="l_j7">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['l_j7']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_right_arm" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <!-- <plugin>yaobu_control/YaoBuSystemHardware</plugin>
        <param name="state_topic">/jaka_right_arm_cmd</param>
        <param name="p_control_topic">jaka_right_arm_state</param> -->
      </hardware>
      <joint name="r_j1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['r_j1']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="r_j2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['r_j2']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="r_j3">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['r_j3']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="r_j4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['r_j4']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="r_j5">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['r_j5']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="r_j6">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['r_j6']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="r_j7">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['r_j7']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_left_right" type="system">
      <hardware>
        <!-- <plugin>mock_components/GenericSystem</plugin> -->
        <plugin>head_control/HeadSystemHardware</plugin>
        <param name="state_topic">vmr/head_joint_state_1</param>
        <param name="p_control_topic">vmr/head_joint_control_1</param>
      </hardware>
      <joint name="head_left_right_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['head_left_right_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_up_down" type="system">
      <hardware>
        <!-- <plugin>mock_components/GenericSystem</plugin> -->
        <plugin>head_control/HeadSystemHardware</plugin>
        <param name="state_topic">vmr/head_joint_state_2</param>
        <param name="p_control_topic">vmr/head_joint_control_2</param>
      </hardware>
      <joint name="head_up_down_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['head_up_down_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_waist_rotate" type="system">
      <hardware>
        <!-- <plugin>mock_components/GenericSystem</plugin> -->
        <plugin>yaobu_control/YaoBuSystemHardware</plugin>
        <param name="state_topic">vmr/waist_joint_state</param>
        <param name="p_control_topic">vmr/waist_joint_control</param>
      </hardware>
      <joint name="waist_rotate_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['waist_rotate_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_waist_lift" type="system">
      <hardware>
        <!-- <plugin>mock_components/GenericSystem</plugin> -->
        <plugin>yaobu_control/YaoBuSystemHardware</plugin>
        <param name="state_topic">vmr/robot_lift_join_state</param>
        <param name="p_control_topic">vmr/waist_lift_control</param>
      </hardware>
      <joint name="waist_lift_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['waist_lift_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_left_hand" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
      </hardware>
      <joint name="left_hand_thumbCMC">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_thumbCMC']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="left_hand_thumbMCP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_thumbMCP']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="left_hand_indexMCP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_indexMCP']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="left_hand_indexPIP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_indexPIP']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="left_hand_middleMCP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_middleMCP']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="left_hand_middlePIP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_middlePIP']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="left_hand_ringMCP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_ringMCP']}</param>
        </state_interface>
        <state_interface name="velocity"/>  
      </joint>
      <joint name="left_hand_ringPIP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_ringPIP']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="left_hand_littleMCP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_littleMCP']}</param>
        </state_interface>
        <state_interface name="velocity"/>  
      </joint>
      <joint name="left_hand_littlePIP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_hand_littlePIP']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_right_hand" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
      </hardware>
      <joint name="right_hand_thumbCMC">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_thumbCMC']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_hand_thumbMCP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_thumbMCP']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_hand_indexMCP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_indexMCP']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_hand_indexPIP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_indexPIP']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_hand_middleMCP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_middleMCP']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_hand_middlePIP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_middlePIP']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_hand_ringMCP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_ringMCP']}</param>
        </state_interface>
        <state_interface name="velocity"/>  
      </joint>
      <joint name="right_hand_ringPIP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_ringPIP']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_hand_littleMCP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_littleMCP']}</param>
        </state_interface>
        <state_interface name="velocity"/>  
      </joint>
      <joint name="right_hand_littlePIP">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_hand_littlePIP']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_chassis" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
      </hardware>
      <joint name="chassis_rotate_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['chassis_rotate_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="left_wheel_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['left_wheel_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_wheel_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['right_wheel_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="driven_wheel_11_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['driven_wheel_11_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="driven_wheel_12_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['driven_wheel_12_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="driven_wheel_21_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['driven_wheel_21_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="driven_wheel_22_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['driven_wheel_22_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="driven_wheel_31_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['driven_wheel_31_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="driven_wheel_32_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['driven_wheel_32_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="driven_wheel_41_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['driven_wheel_41_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="driven_wheel_42_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['driven_wheel_42_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
